@model List<CMS.ViewModels.UserWithRolesViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Components/Partials/_Topbar")

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
        <h1 class="h3 mb-0 text-gray-800">User Audit</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-primary text-white">
            <h5 class="m-0 font-weight-bold">User List </h5>
        </div>
        <div class="card-body">
            <table class="table" id="dataTable">
                <thead> 
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role Management</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="ManageUserRoles" asp-route-userId="@user.UserId">@user.FullName</a>
                            </td>
                            <td>@user.Email</td>
                            <td>@string.Join(", ", user.Roles)</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
